In [ ]:
#Task 1.1: Variable Declaration and Data Types

student_name = "Khadijah Abd'Raheem"
matric_number = "24/25PB055"
age = 21
cgpa = 4.35
is_active = True
courses_registered = ["Python", "Statistics", "Data Science"]
grades = {
    "Python": "A",
    "Statistics": "B",
    "Data Science":"A"
  }
print(student_name)
print(matric_number)
print(age)
print(cgpa)
print(is_active)
print(courses_registered)
print(grades)

Khadijah Abd'Raheem
24/25PB055
21
4.35
True
['Python', 'Statistics', 'Data Science']
{'Python': 'A', 'Statistics': 'B', 'Data Science': 'A'}

In [ ]:
#store data for at least five students
#Task1.2
student_names: list[str] = [
    "Abd'Raheem Khadijah",
    "Idris Adam",
    "Idris Aisha",
    "Abd'Ghaffar Adam",
    "Adewale Isreal"
]

students:dict[str,dict]={
    "Abd'Raheem Khadijah":{
        "matric":"24/25PB055",
        "age":21,
        "cgpa":4.81,
        "is_active":True,
        "courses_registered":["Python", "Statistics", "Data Science"]
    },
    "Idris Adam":{
        "matric":"24/25PB058",
        "age":20,
        "cgpa":4.95,
        "is_active":True,
        "courses_registered":["Python", "Statistics", "Data Science"]
    },
    "Idris Aisha":{
        "matric":"24/25PB059",
        "age":20,
        "cgpa":"4.50",
        "is_active":True,
        "courses_registered":["Python", "Statistics", "Data Science"]
    },
    "Abd'Ghaffar Adam":{
        "matric":"24/25PB051",
        "age":24,
        "cgpa":4.35,
        "is_active":True,
        "courses_registered":["Python", "Statistics", "Data Science"]
    },
    "Adewale Isreal":{
        "matric":"24/25PB052",
        "age":19,
        "cgpa":3.98,
        "is_active":True,
        "courses_registered":["Python", "Statistics", "Data Science"]
    },
    }
#set to store unique courses offered in the department
courses={
    "Islamic studies",
    "Ethics",
    "Arabic language",
    "Comparative religion",
    "Islamic law"
}
#Tuple
# for fixed department information
department_info=(
    "Religion department",
    "Faculty of technology",
    2025
)
#Display data
print("courses offered:")
for course in courses:
  print(course)
print("Department name",department_info[0])
print("faculty",department_info[1])
print("year",department_info[2])

courses offered:
Arabic language
Comparative religion
Ethics
Islamic studies
Islamic law
Department name Religion department
faculty Faculty of technology
year 2025

In [ ]:
#2.1:Conditional statements for grading
def get_grade(score:float)->str:
  if score>=70 and score<=100:
    return "A"
  elif score>=60:
    return "B"
  elif score>=50:
    return "C"
  elif score>=45:
    return "D"
  elif score>=40:
    return "E"
  else:
    return "F"
def grade_feedback(grade):
  match grade:
    case "A":
      print("excellent")
    case "B":
      print("very good")
    case "C":
      print("good")
    case "D":
      print("fair")
    case "E":
      print("poor results")
    case "F":
      print("failed")

score=int(input("enter your score:(0-100)"))
grade=get_grade(score)
print("grade:", grade)
grade_feedback(grade)

#Type validation and conversion
age_input = input("enter your age:")
cgpa_input = input("enter your cgpa:")
age = int(age_input)
cgpa = float(cgpa_input)

if age < 16 or age > 40:
  print("invalid age:age must be between 16 and 40")
elif cgpa <0.00 or cgpa >5.00:
  print("invalid cgpa:cgpa must be between 0.0 and 5.0")
else:
  print("age and cgpa are valid")
  print("age:", age)
  print("cgpa:", cgpa)

In [ ]:
#3.1:List operations and slicing
assignments_scores=[75,65,80,90,85,88,84,76,79,83]
top_3_scores = assignments_scores[-3:]
last_5_scores = assignments_scores[-7:]
every_other_scores = assignments_scores[::2]
print("all assignments scores",assignments_scores)
print("top 3 scores",top_3_scores)
print("last 5 scores",last_5_scores)
print("every other score",every_other_scores)


set_pass = {"Khadijah", "Adam", "Aisha", "Isreal", "Moses"}
set_merit = {"Alwajud", "Soliu", "Abake", "Omowunmi", "Abubakar"}
passed_and_merit = set_pass|(set_merit)
all_students = set_pass.union(set_merit)
passed_not_merit = set_pass.difference(set_merit)
print(passed_and_merit)
print(all_students)
print(passed_not_merit)

all assignments scores [75, 65, 80, 90, 85, 88, 84, 76, 79, 83]
top 3 scores [76, 79, 83]
last 5 scores [90, 85, 88, 84, 76, 79, 83]
every other score [75, 80, 85, 84, 79]
{'Soliu', 'Omowunmi', 'Adam', 'Khadijah', 'Alwajud', 'Moses', 'Isreal', 'Abake', 'Aisha', 'Abubakar'}
{'Soliu', 'Omowunmi', 'Adam', 'Khadijah', 'Alwajud', 'Moses', 'Isreal', 'Abake', 'Aisha', 'Abubakar'}
{'Khadijah', 'Adam', 'Moses', 'Isreal', 'Aisha'}

In [ ]:
#Console menu using match case
students = all_students
def view_students():
  if not students:
    print("no students found")
  else:
      for student in students:
        print(student)
def add_student():
  name = input("enter student name:")
  cgpa = float(input("enter cgpa:"))
  outstanding_courses=int(input("enter number of outstanding courses:"))
  student = {
      "name":name,
      "cgpa":cgpa,
      "outstanding_courses":outstanding_courses,
      "is_active":input("is student active?(yes/no):").lower()=="yes"
      }
  students.append(student)
  print("student added successfully")
  print(student)
  def check_graduation():
    if not students:
      print("no student founds")
      return
  name = input("enter student name:")
  for student in students:
    if student["name"]==name:
      if student["cgpa"]>=2.5 and student["outstanding_courses"]<=0 and student["is_active"]:
        print("student eligibility for graduation")
        print("student not eligible for graduation")
    else:
      print("no student found")
def find_top_performer():
  if not students:
    print("no student found")
  else:
    top_student = ("student_cgpa")
    print("top performer")
    print("name:", top_student["name"])
    print("cgpa:", top_student["cgpa"])


while True:
  print("student management system")
  print("1. view students")
  print("2. add student")
  print("3. check graduation eligibility")
  print("4. find top performer")
  print("5. exit")
  choice = input("enter your choice(1-5):")
  match choice:
    case "1":
      view_students()
    case "2":
      add_student()
    case "3":
      check_graduation_eligibility()
    case "4":
      find_top_performer()
    case "5":
      print("exiting program")
      break
    case _:
      print("invalid choice")
def check_graduation_eligibility(cgpa, outstanding_courses, is_active):
  if cgpa >=2.5 and outstanding_courses <=0 and is_active:
    print("student eligible for graduation")
  else:
    print("student not eligible for graduation")

In [ ]:
from typing import assert_never
#5.1:Nested Data Processing
students = {
    "Khadijah": {
        "maths":78,
        "english":89,
        "science":95
    },
    "Alwajud":{
        "maths":98,
        "english":89,
        "science":95
    },
    "Soliu":{
        "maths":78,
        "english":80,
        "science":90
    },
    "Abake":{
        "maths":85,
        "english":92,
        "science":88
    }
}

average = {}
for student,scores in students.items():
  total = sum(scores.values())
  average[student]=total/len(scores)
  average_score=(sum(average.values())/len(average))
  print("average scores for each students:")
  for student,average_score in average.items():
    print(student,average_score)
    print("average score for all student:",average_score)


above_70_all = []
for student,scores in students.items():
  if all(score>70 for score in scores.values()):
    above_70_all.append(student)
    print("students with all scores above 70 in all courses:")
    for student in above_70_all:
      print(student)


def identity_type(value):
  match value:
    case int():
     return f"int:{value}"
    case float():
     return f"float{value}"
    case list():
     return f"list{value}"
    case dict():
     return f"dict{value}"
    case str():
     return f"str:{value}"


print(type(10))
print(type(3.4))
print(type([1,2,3]))
print(type({'a':1, 'b': 2}))
print(type("hello"))

# Integer detected: 10
# Float detected: 3.4
# List detected with 3 elements: [1, 2, 3]
# Dictionary detected with 2 keys: {'a': 1, 'b': 2}
# String detected: 'Hello'

average scores for each students:
Khadijah 87.33333333333333
average score for all student: 87.33333333333333
average scores for each students:
Khadijah 87.33333333333333
average score for all student: 87.33333333333333
Alwajud 94.0
average score for all student: 94.0
average scores for each students:
Khadijah 87.33333333333333
average score for all student: 87.33333333333333
Alwajud 94.0
average score for all student: 94.0
Soliu 82.66666666666667
average score for all student: 82.66666666666667
average scores for each students:
Khadijah 87.33333333333333
average score for all student: 87.33333333333333
Alwajud 94.0
average score for all student: 94.0
Soliu 82.66666666666667
average score for all student: 82.66666666666667
Abake 88.33333333333333
average score for all student: 88.33333333333333
students with all scores above 70 in all courses:
Khadijah
students with all scores above 70 in all courses:
Khadijah
Alwajud
students with all scores above 70 in all courses:
Khadijah
Alwajud
Soliu
students with all scores above 70 in all courses:
Khadijah
Alwajud
Soliu
Abake
<class 'int'>
<class 'float'>
<class 'list'>
<class 'dict'>
<class 'str'>